version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
  - package-ecosystem: "npm"
    directory: "/"
    groups:
      production-dependencies:
        dependency-type: production
      development-dependencies:
        dependency-type: development
    schedule:
      interval: "monthly"
