name: Test
on: push

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: pnpm i
      - run: pnpm generate
      - run: pnpm lint
      - run: pnpm test
